<!Doctype html>
<html>
   <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Post it{% endblock %}</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
 
              
            {% if login and login != "null" %}
			<span id="utilisateur">
                Bonjour {{ nom }}
			</span>
		    <a href="/logout"><img  class="img_exit" src="public/logout.png" href="/logout" /></a>
            {% endif %}

            <a href="/"><img  id="image" class="img_home" src="public/home.png" href="/" /></a>

 
  {% block body %}
   {% endblock %}
  {% block script %}{% endblock %}
  
</html>