	{% extends "base.html" %}
	
	{% block body %}

<body>

  {% if login and login != "null" %}
    
        {% for item in messages %} 
        {% if login == item['auteur'] %}
          <!-- Afficher les motes d'un utilisateur connecté -->
        <div class="divPost" id="divpostN{{item['cle']}}" style="position : absolute;top: {{item['coordY']}}px;left: {{item['coordX']}}px;background-color: #FAD7A0;">          
         <form id="idForm{{item['cle']}}" name="divForm{{item['cle']}}" class="formPost"  method="post" action="/effacer"> 
       
            <span name="spanPost{{item['cle']}}" class="infoPost" id="span{{item['cle']}}" style="position:absolute;">
                   
			<a name ="lienSupp{{item['cle']}}" onclick ="clicSupprimer({{item['cle']}});">
			<img  name="image{{item['cle']}}" class="icon_supp" src="public/delete.png" alt="Supprimer Post" />
			</a>
				   
			  <a name ="lienReqModif{{item['cle']}}" onclick ="clicModifier({{item['cle']}});">
			  <img  name="imagemodif{{item['cle']}}" class="icon_modif" src="public/update.png" alt="modifier Post" />
			  </a>
                 <div name="divDate{{item['cle']}}" style="font-family:COMIC SANS MS;" class="classDate" id="idDate{{item['cle']}}"> </div>
				 <script  type="text/javascript">

                var d=new Date({{item['date']}});
                var now = new Date();
                var nn= d.toLocaleString();
                 var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                 var nn2=d.toLocaleDateString('fr-FR', options);  
                 
                 function checkTime(i) {
                  if (i < 10) {
                    i = "0" + i;
                  }
                  return i;
                }
                
                  var h = d.getHours();
                  var m = d.getMinutes();

                  // add a zero in front of numbers<10
                  m = checkTime(m);
                  var elem = document.querySelector('#idDate'+{{item['cle']}});
                 elem.innerHTML = "&nbsp;"+nn2 +", "+h + ":" + m ;
                 </script>
                 <textarea id="text{{item['cle']}}" name="bodyText{{item['cle']}}" disabled>{{item['texte']}}</textarea>
               
                 </span>
         
              <input type="hidden" id="clee{{item['cle']}}" name="cle" value="{{item['cle']}}">  
          </form>
        </div>

    {% endif %}
  {% endfor %}

  <!--si l'utilisateur n'est pas connecté-->
    {% else %}
	  
	<div  >
	  <div class="acceuil">
	   
		<div class="card text-center" style="margin-left :330px;margin-top :-60px;height: 480px; width: 700px;">  
		  <div class="card-body" style="align :center;">   
			<h2 class="card-title">Bienvenue sur l'app Post It !</h2>
			<h5 class="card-text">Veuillez vous identifier pour créer vos posts</h5>
			<div class="container">
	<form  method="post" action="/login" ><br>
			<legend style="font-variant:small-caps; "></legend>
			
			<div class="form-group">
			  <label for="login">Login</label>
			  <input type="text" name="login" required class="form-control" placeholder="Entrez votre login"  pattern="[^/]{1,255}" />
			</div>
			
			<div class="form-group">
			  <label for="password">Mot de passe</label>
			  <input id="pass" type="password" name="password" required class="form-control" placeholder="Entrez votre mot de passe" pattern=".{6,255}" title="Six or more caracteres"/>
			</div>
			
			{% if error %}
			<div style="color:red;">
			  {{ error }}
			  
			</div>
			{% endif %}
			<br>
			<input type="submit" class="btn btn-info" value="valider" style="font-variant: small-caps;">
	</form>

	</div>
			<br>
		   Vous êtes nouveau ?<a href="/signin" > S'inscrire</a>
			  {% endif %}
			</div>
		  
		</div>     
	  </div>
	</div>
    
		{% block script %}
		 {% if login and login != "null" %}
		<script src="/public/client.js"></script>
			  {% endif %}
		{% endblock %}
		</body>
		{% endblock %}

