{% extends "base.html" %}


 
{% block body %}
<body>
   
<div class="container">
  <form name="signIn" action="/signin" onsubmit="return deuxPassOk()" method="post">
    <legend style="font-variant: small-caps;">Sign up</legend>
    
    <div class="form-group">
      <label for="name">Votre nom</label>
      <input type="text" name="name" required class="form-control" placeholder="Nom complet"/>
    </div>
 
    
    <div class="form-group">
      <label for="login">Choisir un identifiant</label>
      <input type="text" name="login" required class="form-control" placeholder="Login" pattern="[^/]{1,255}" title="Mauvais format login"/>
    </div>
    
    <div class="form-group">
      <label for="password">Saisissez un mot de passe</label>
      <input id="pass1" type="password" name="password" required class="form-control" placeholder="Mot de passe" pattern=".{6,255}" title="Six or more caracteres"/>
    </div>
    
    <div class="form-group">
      <label for="passConf">Confirmez votre mot de passe</label>
      <input id="pass2" type="password" name="passwordConf" required class="form-control" placeholder="Confirmer mot de passe"/>
    </div>
    
    <input type="submit" class="btn btn-info" value="Valider" style="font-variant: small-caps;">
  </form>
  
  {% if error %}
    <div>
      {{ error }}
    </div>
    {% endif %}

</div>
    

<script src="/public/client.js"></script>

    
</body>
{% endblock %}