/* styles */
/* called by your view template */

body {
  
  padding-top: 100px;
  padding-bottom: 20px;
  color:white;  
  background-color:#A2D0D7;
  background-image: url("background.png");
  background-repeat: repeat-x; 
 background-size: 700px 680px;  
  background-attachment: fixed;
  overflow:hidden;
}

/*page d'acceuil*/

body .acceuil{
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 120%;
}

.acceuil h1{
  font-variant: small-caps;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 1px 2px 1.5px rgba(0,0,0,0.3);
  margin-top:3%;
  margin-bottom:3%;
}

.acceuil .b1, .b2{
  font-variant: small-caps;
  margin:2%;
  border: solid black 1px;
  min-width:100px;
}



.sticker {
  padding-top: 20px;
  background: #ffffff;
  min-height: 200px;
  min-width: 300px;
  position: absolute;
  left: 550px;
  top: 200;
  border: 0px solid #34b399;
  box-shadow:0.1px 0.2px 5px #34b399;
  margin:0px 100 0 200px;
  border-radius:5px;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background: #34b399;
  width: 100%;
}

.sticker textarea {
  margin:30px 0 0 0px;
  position: absolute;
  font-family: cursive;
  background: transparent;
  border: none;
  resize : none;
  min-height: 170px;
  min-width: 300px;
  background: transparent;
}
.icon_delete{
  width: 20px; /* largeur */
  height: 20px; /* longueur */
  margin:0px -10px -5px 140px;
  margin-left:275px;
  margin-top:-70px;
}

 .icon_delete:hover {
  cursor: pointer;
}


.formPost{
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  background: #FFD433;
  width: 100%;
  
}
input .btnModifier{
   background: url("../update.png") no-repeat right top;
  border: none;
  display:none;
  width: 15px; /* largeur */
  height: 15px; /* longueur */
  align=right;
}
.divPost{
  position : absolute;
  min-height: 190px;
  min-width: 280px;
   padding-top: 20px;
  left: 0;
  top: 0;
  border: 1px solid #34b399;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius:7px;
}

  .divPost:hover {
  z-index: 1;
}
.icon_supp:hover,.icon_modif,.icon_save{
  cursor:pointer;
   z-index: 1;
}
.infoPost{
   position: absolute;

}
.icon_supp{
   width: 19px; /* largeur */
  height: 19px; /* longueur */
  
margin:0px 0 0 253px;
}
.icon_modif{
   width: 26px; /* largeur */
  height: 26px; /* longueur */
margin:0px 0 0 225px;
 
}
.icon_save{
   width: 24px; /* largeur */
  height: 24px; /* longueur */
  margin:0px 0 0 200px;
   
}
#utilisateur{
  align=left;
  position: absolute;
  top:10px;
  left:20px;
  color:blue;
font-family:COMIC SANS MS;
 
}
.img_home{
   width: 90px; /* largeur */
  height: 90px; /* longueur */
  align=right;
  position: relative;
   top:460px;
  left:1155px;
  background-attachment: fixed;
}
.img_exit{
    width: 100px; /* largeur */
  height: 50px; /* longueur */
    position: relative;
  top:390px;
  left:1250px;
   z-index: 1;
}

.formPost textarea {
  resize : none;
  margin:5px 0 0 0px;
  position: relative;
  padding: 3px 10px;
  box-sizing: border-box;
  min-height: 162px;
  min-width: 280px;
  background: transparent;
  border: none;
  font-family: COMIC SANS MS;
  text-align:left;
}
.formPost a{
   position: absolute;
}

.formPost img:hover{
  z-index: 1;
  
}
.icon_save:hover{
z-index: 1;
   
}